.bg_card {
    background: #0E0D0D;
    box-shadow: 0px 0px 0px 0px #FFFFFF;
    box-shadow: 0px 0px 0px 1px #F4F4F51A;
    box-shadow: 0px 0px 0px 0px #00000000;
}

/* 
.bg_card:hover {
    background: linear-gradient(235.8deg, #7F04E3 -12.6%, #FF006B 106.18%);
} */